<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CC.LMS.Student.Basic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CC.LMS.Student.Basic.Properties.Settings>
            <setting name="TestName" serializeAs="String">
                <value>StudentBasics</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value>C:\ZlogZ\</value>
            </setting>
            <setting name="StopCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BTURL" serializeAs="String">
                <value>https://BethelTech.qa.ExeterLMS.Com/</value>
            </setting>
            <setting name="CCURL" serializeAs="String">
                <value>https://qa.ExeterLMS.Com/</value>
            </setting>
            <setting name="NAURL" serializeAs="String">
                <value>https://nau.qa.ExeterLMS.Com</value>
            </setting>
            <setting name="SCURL" serializeAs="String">
                <value>https://SCI.qa.ExeterLMS.Com/</value>
            </setting>
            <setting name="WAURL" serializeAs="String">
                <value>https://woli.qa.ExeterLMS.Com/</value>
            </setting>
            <setting name="WZURL" serializeAs="String">
                <value>https://wozu.qa.ExeterLMS.Com/</value>
            </setting>
            <setting name="BTStudent" serializeAs="String">
                <value>BTS</value>
            </setting>
            <setting name="CCStudent" serializeAs="String">
                <value>CCSS</value>
            </setting>
            <setting name="NAStudent" serializeAs="String">
                <value>NAS</value>
            </setting>
            <setting name="SCStudent" serializeAs="String">
                <value>SCS</value>
            </setting>
            <setting name="WAStudent" serializeAs="String">
                <value>WAS</value>
            </setting>
            <setting name="WZStudent" serializeAs="String">
                <value>WZS</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>123456</value>
            </setting>
        </CC.LMS.Student.Basic.Properties.Settings>
    </applicationSettings>
</configuration>