<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OpenLogOnCC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <OpenLogOnCC.Properties.Settings>
            <setting name="LogPath" serializeAs="String">
                <value>C:\ZLogz\</value>
            </setting>
            <setting name="TestName" serializeAs="String">
                <value>OpenClient</value>
            </setting>
            <setting name="StartCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StopCount" serializeAs="String">
                <value>3</value>
            </setting>
        </OpenLogOnCC.Properties.Settings>
    </applicationSettings>
</configuration>