<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CC.LMS.AutoLogIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CC.LMS.AutoLogIn.Properties.Settings>
            <setting name="TestName" serializeAs="String">
                <value>PageLoadClients</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value>C:\ZlogZ\</value>
            </setting>
            <setting name="StopCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BethelTechURL" serializeAs="String">
                <value>https://BethelTech.qa.ExeterLMS.Com/</value>
            </setting>
            <setting name="CoderCampsURL" serializeAs="String">
                <value>https://qa.ExeterLMS.Com/</value>
            </setting>
            <setting name="NorthernArizonaURL" serializeAs="String">
                <value>https://nau.qa.ExeterLMS.Com</value>
            </setting>
            <setting name="SouthernCareersURL" serializeAs="String">
                <value>https://SCI.qa.ExeterLMS.Com/</value>
            </setting>
            <setting name="WashingtonOnLineURL" serializeAs="String">
                <value>https://woli.qa.ExeterLMS.Com/</value>
            </setting>
            <setting name="WOZUnversityURL" serializeAs="String">
                <value>https://wozu.qa.ExeterLMS.Com/</value>
            </setting>
            <setting name="BethelTechIconSearch" serializeAs="String">
                <value>bethel-square.svg</value>
            </setting>
            <setting name="CoderCampsIconSearch" serializeAs="String">
                <value>cc-gear.svg</value>
            </setting>
            <setting name="NorthernArizonaIconSearch" serializeAs="String">
                <value>nau-shield.svg</value>
            </setting>
            <setting name="SouthernCareersIconSearch" serializeAs="String">
                <value>sci-star.svg</value>
            </setting>
            <setting name="WashingtonOnLineIconSearch" serializeAs="String">
                <value>woli-shield.svg</value>
            </setting>
            <setting name="WOZUniversityIconSearch" serializeAs="String">
                <value>wozu-square.svg</value>
            </setting>
            <setting name="BethelAdmin" serializeAs="String">
                <value>btkadmin</value>
            </setting>
            <setting name="CoderCampAdmin" serializeAs="String">
                <value>ccpadmin</value>
            </setting>
            <setting name="NorthernAdmin" serializeAs="String">
                <value>nauadmin</value>
            </setting>
            <setting name="SouthernAdmin" serializeAs="String">
                <value>sciadmin</value>
            </setting>
            <setting name="WashingtonAdmin" serializeAs="String">
                <value>woladmin</value>
            </setting>
            <setting name="WOZAdmin" serializeAs="String">
                <value>wozadmin</value>
            </setting>
            <setting name="Passwords" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="BethelSearchName" serializeAs="String">
                <value>BethelTech Admin</value>
            </setting>
            <setting name="CoderCampSearchName" serializeAs="String">
                <value>CoderCamps Admin</value>
            </setting>
            <setting name="NorthernSearchName" serializeAs="String">
                <value>NorthernArizonaUniversity Admin</value>
            </setting>
            <setting name="SouthernSearchName" serializeAs="String">
                <value>SouthernCareer Admin</value>
            </setting>
            <setting name="WashingtonSearchName" serializeAs="String">
                <value>WashingtonOnLine Admin</value>
            </setting>
            <setting name="WOZSearchName" serializeAs="String">
                <value>WOZUniversity admin</value>
            </setting>
        </CC.LMS.AutoLogIn.Properties.Settings>
    </applicationSettings>
</configuration>